<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PYTHONUNBUFFERED</key>
		<string>1</string>
	</dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.harlan.harlan-gpt-server</string>
	<key>Nice</key>
	<integer>10</integer>
	<key>ProcessType</key>
	<string>Standard</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/zsh</string>
		<string>/Users/harlan/services/harlan-gpt-server/run.sh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/harlan/logs/harlan-gpt-server.err.log</string>
	<key>StandardOutPath</key>
	<string>/Users/harlan/logs/harlan-gpt-server.out.log</string>
	<key>ThrottleInterval</key>
	<integer>5</integer>
	<key>UserName</key>
	<string>harlan</string>
	<key>WorkingDirectory</key>
	<string>/Users/harlan/services/harlan-gpt-server</string>
</dict>
</plist>
